body {
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

body {
    max-width: 1600px;
    margin: 0 auto;
}

.banner-div {
    margin: 50px 140px 120px 140px;
    max-width: 1320px;
    height: 600px;
}

.banner-text {
    color: #FFF;
    text-align: center;

}

.happy {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}

.new {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    width: 632px;
    height: 190px;
    padding: 0px 344px 177px 344px;
}

.offer {
    text-align: center;
}

.offer-title {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 48px;
}

.first-categorie {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.second-categorie {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.offer-image {
    width: 802.9px;
    height: 500px;
    margin-left: 399px;
}

.party {
    background-image: url('/resources/Vectorrr.png');
    max-width: 1320px;
    height: 600px;
    margin: 120px 140px 120px 140px;

}

.welcome {
    display: flex;
    justify-content: space-between;
}

.party-title {
    margin-top: 126px;
}

.party-header {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    margin-left: 126px;
}

.party-details {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    width: 697px;
    margin-left: 126px;
}

.join {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-left: 158px;
}

.party-image {
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    margin: 68.11px 138px 67.23px;
}

.party-address {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    margin-left: 140px;
    margin-bottom: 120px;
}

.address {
    text-align: center;
}

.address-first {
    color: #070211;
    font-size: 32px;
    padding-top: 100px;
}

.btn {
    color: #FFFFFF;
    background-color: #F00;
    border: none;
    border-radius: 8px;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: 700;
}

.new-offer-title {
    display: flex;
    align-items: center;
    margin-left: 140px;
    margin-bottom: 120px;
    justify-content: space-between;
}

.h3-new {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.h1-coming {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.p-details {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    width: 393px;
    height: 128px;
}

.h1-year {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    margin: 16px;
}

.dolor {
    color: rgba(7, 2, 17, 0.60);
    width: 276px;
    font-size: 20px;
    font-weight: 400;

}

.new-offer-image {
    width: 364.844px;
    height: 364.844px;
    border: #FF0000 solid 15px;
    border-radius: px;
    padding: 49.08px 49.08px 49.08px 49.08px;
    border-radius: 463px;
    margin-top: 43px;
}