body {
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header,
main {
    max-width: 1320px;
    margin: 0 auto;
}

.banner-div {
    border-radius: 16px;
    background-image: url('../pictures/banners.png');
    background-repeat: no-repeat;
    height: 600px;
  
}
.banner-div:hover{
border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
} 
.banner-text {
    color: #FFF;
    text-align: center;

}

.happy {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}
.happy:hover, .new:hover{
color: rgb(231, 74, 74);
text-shadow: 5px 5px 5px black;
}
.new {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    width: 632px;
    height: 190px;
    padding: 0px 344px 177px 344px;
}

.offer {
    text-align: center;
}

.offer-title {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 48px;
}
.offer-title:hover,.first-categorie:hover{
    text-shadow: 5px 5px 5px black;
}

.first-categorie {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.second-categorie {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}
.second-categorie:hover{
color: rgb(231, 74, 74);
text-shadow: 5px 5px 5px black;
}

.offer-image {
    width: 802.9px;
    height: 500px;
    margin-left: 350px;
    margin-bottom: 120px;
}
.offer-image:hover{
    background: url(<path-to-image>), rgb(240, 138, 138) 50% / cover no-repeat;
    
}
.party {
   background-image: url('../pictures/banners.png');
    height: 600px;
    margin-bottom: 120px;
}
.party:hover{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    text-shadow: 5px 5px 5px black;
}
.party-header:hover, .party-details:hover, .join:hover{
 color: #FF0000;
}
.welcome {
    display: flex;
    justify-content: space-between;
}

.party-title {
    margin-top: 126px;
}

.party-header {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    margin-left: 126px;
}

.party-details {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    width: 697px;
    margin-left: 126px;
}

.join {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-left: 158px;
}

.party-image {
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    margin: 68.11px 138px 67.23px 0px;
}
span{
    color:#F00;
}
.party-address {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 482px;
    border-radius: 16px;
    margin-bottom: 120px;
}

.address{
    text-align: center;
}
.address-first:hover{
    color: aquamarine;
    font-size: 20px;
}
.address-first {
    color: #070211;
    font-size: 32px;
    padding-top: 100px;
    padding-bottom: 64px;
}
.btn:hover{
    background-color: aquamarine;
    box-shadow: 5px 5px 5px black;
}
.btn {
    color: #FFFFFF;
    border: none;
    background-color: #F00;
    border-radius: 8px;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: 700;
}

.new-offer-title {
    display: flex;
    align-items: center;
    margin-bottom: 120px;
    justify-content: space-between;
}
.h3-new:hover, .h1-year:hover {
 color: aquamarine;
 text-shadow: 5px 5px 5px black;
}
.p-details:hover,.h1-coming:hover, .dolor:hover{
    color: #F00;
    text-shadow: 5px 5px 5px black;
}
.h3-new {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.h1-coming {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.p-details {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    width: 393px;
    height: 128px;
}

.h1-year {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    margin: 16px;
}

.dolor {
    color: rgba(7, 2, 17, 0.60);
    width: 276px;
    font-size: 20px;
    font-weight: 400;

}

.new-offer-image {
    width: 364.844px;
    height: 364.844px;
    border: #FF0000 solid 15px;
    padding: 49.08px 49.08px 49.08px 49.08px;
    border-radius: 463px;
    margin-top: 43px;
}

.bst:hover{
    color: aquamarine;
    font-size: 28px;
    text-shadow: 5px 5px 5px black;
}
.aws:hover, .aws-title:hover{
    color: aquamarine;
    text-shadow: 5px 5px 5px black;

}
.first-shoping:hover, .second-shoping:hover{
 
}
.bst {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin: 16px;

}

.aws {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin: 22px;

}

.aws-title {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    width: 896px;
    margin-bottom: 48px;

}

.first-shoping{
border-radius: 16px;
background-image: url(<path-to-image>), lightgray 0px -35.755px / 100% 142.115% no-repeat;
width: 424px;
height: 450px;
display: flex;
gap: 24px;
margin-bottom: 24px;
}
.second-shoping{
border-radius: 16px;
background-image: url(<path-to-image>), lightgray 0px -35.755px / 100% 142.115% no-repeat;
width: 424px;
height: 450px;
display: flex;
gap: 24px;

}
.email-part {
    background-color: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    height: 616px;
    margin-top: 120px;
    margin-bottom: 120px;
}
.email-p:hover{
    width: 180px;
    height: 180px;
}
.news-letter:hover, .details-part:hover {
    color: aquamarine;
}
.sub-i:hover{
    background-color: aquamarine;
}
.news-letter {
    text-align: center;
}

.email-p {
    margin-top: 80px;
    width: 150px;
    height: 150px;
}

.sub {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-top: 40px;
}

.details-part {
    color: rgba(7, 2, 17, 0.60);
    width: 896px;
    font-size: 20px;
    font-weight: 400;
    margin-left: 212px;
    margin-top: 16px;
    margin-bottom: 48px;
}

.sub-title {
    display: flex;
    margin: 0px;
    border-radius: 0px 50px 50px 0px;
}

.email-input {
    background-color: #FFF;
    border: none;
    width: 480px;
    height: 60px;
    border-radius: 50px 0px 0px 50px;
    margin-left: 336px;
}

::placeholder {
    padding: 25px 0px 25px 30px;
}

.sub-i {
    color: #FFF;
    background-color: #F00;
    border: none;
    border-radius: 0px 50px 50px 0px;
    width: 160px;
    height: 62px;
    font-size: 20px;
    font-weight: 600;
}

.main-foot {
    background-color: #070211;
    height: 609px;
    margin: 0;
    padding: 0;

}

.first-footer {
    display: flex;
    justify-content: space-between;
}
.big:hover,.number:hover, .domain:hover{
    color: #F00;
    font-size: 28px;
}
.fb:hover, .insta:hover, .twit:hover, .link:hover{
    width: 50px;
    height: 50px;
}
.big {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    width: 375px;
    height: 80px;
    margin-top: 120px;
    margin-left: 140px;
}

.number {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    margin-top: 120px;
    margin-right: 291px;

}

.domain {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    margin-right: 275px;

}

.first-line {
    margin: 50px 140px 48px 140px;
}

.midile-footer {
    text-align: center;
}

.fb {
    margin-right: 24px;
}

.insta {
    margin-right: 24px;
}

.twit {
    margin-right: 24px;
}

.second-line {
    margin: 48px 140px 50px 140px;
}

.under-footer {
    display: flex;
    justify-content: space-between;
}

.all-right {
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
    margin-left: 140px;
}

.un-sub {
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
    margin-right: 120px;
}